* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Farabee';
    src: url('D:\Phyton\____RazGovorit\extension\fonts\ofont.ru_Farabee.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.title {
    font-family: 'Palatino Linotype';
    font-weight: lighter;
    font-size: 30px;
}

body {
    font-family: Arial, sans-serif;
    width: 270px;
    background: #f8f9fa;
    justify-content: flex-start;
}

h2, h3 {
    text-align: center;
    font-size: 18px;
}

button {
    width: 100%;
    height: 30x;
    padding: 8px;
    margin: 5px 0;
    border: none;
    background: #613C81;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Palatino Linotype';
    font-weight: lighter;
    font-size: 15px;
}

button:hover {
    background: #735091;
    transform: translateY(-3px);
}

button:active {
    background: #815f9e;
}

textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 6px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 100px;
    min-height: 30px;
}

label {
    font-family: 'Palatino Linotype';
    font-weight: lighter;
    font-size: 15px;
}



.wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.choice-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  height: 30px;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 100%;
  min-width: 100%;
  padding: 6px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #613C81;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-file-upload:hover {
    transform: translateY(-3px);
    background: #735091;
}

.custom-file-upload:active {
    background: #815f9e;
}

#settings-btn {
    width: 32px;
    height: 32px;
}

.settings {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(-3px);
}

.logo {
    margin-top: -30%:
    margin-bottom: -20%;
}
